$orange: rgb(237, 108, 0);
$black: rgb(70, 30, 30);
$btn-color: rgb(79, 42, 35);
$border-color: rgb(160, 160, 160);
$gray: rgb(229, 229, 229);
$yellow: rgb(255, 178, 0);
$media-sp: 600px;
$media-pc: 950px;

@mixin sp {
    @media only screen and (max-width: $media-sp) {
        @content;
    }
}

@mixin pc {
    @media only screen and (min-width: $media-pc) {
        @content;
    }
}


img {
    max-width: 100%;
    display: block;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


// フォームのボタンのスタイル定義
@mixin form-button {
    display: block !important;
    box-sizing: border-box !important;
    // padding: 10px !important;
    border-radius: 15px !important;
    cursor: pointer;
    box-shadow: 0 3px 3px gray;
    width: 100%;
    padding: 0 50px !important;
    height: 93px;
    font-size: 1.6em;
    font-weight: bold;
}

@mixin form-normal-button {
    @include form-button;
    border: 1px solid #7f7f7f !important;
    color: black;
    background: linear-gradient(#fff, #ececec);
}


@mixin form-active-button {
    @include form-normal-button;
    background: $yellow;
}

@mixin form-primary-button {
    @include form-button;
    border: #0c0066 1px solid !important;
    color: white;
    background: linear-gradient(#4947b9, #171573);
}

@mixin form-secondary-button {
    @include form-button;
    border: #47041d 1px solid !important;
    color: white;
    background: linear-gradient(#b23a3a, #7e1b1b);
}


@mixin next-arrow-button($color) {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 0;
    border-top: solid 2px $color;
    border-right: solid 2px $color;
    transform: rotate(45deg);
}

@mixin prev-arrow-button($color) {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 0;
    border-bottom: solid 2px $color;
    border-left: solid 2px $color;
    transform: rotate(45deg);
}


.button-field {

    .form-normal-button {
        @include form-normal-button;
    }

    .form-primary-button {
        @include form-primary-button;
    }

    .form-secondary-button {
        @include form-secondary-button;
    }

    .next-arrow-button {
        position: relative;

        &::after {
            @include next-arrow-button(#fff);
        }
    }

    .prev-arrow-button {
        position: relative;

        &::before {
            @include prev-arrow-button(#f69727);
        }
    }
}



// ページ全体の共通のスタイル定義
div.container {
    // センタリング
    max-width: $media-pc;
    margin: 0 auto;

    // ヘッダー
    header {
        background-color: $orange;
        margin: 0;
        padding: 25px;
        display: flex;
        justify-content: space-between;

        @include sp {
            padding: 12px 7px;
        }

        h1 {
            font-size: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            line-height: 150%;

            @include sp {
                font-size: 14px;
            }

            a {
                color: black;
                text-decoration: none;

                span {
                    color: white;
                    font-size: 120%;
                }
            }

        }

        .header-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 22px;

            @include sp {
                font-size: 12px;
            }

            .shopping-cart {
                position: relative;

                .shopping-count-badge {
                    display: block;
                    position: absolute;
                    right: -10px;
                    top: -10px;

                    @include sp {
                        right: -5px;
                        top: -5px;
                    }

                    background-color: #ad0000;
                    color: white;
                    border-radius: 50%;
                    padding: 1px 0.25em;

                    &.disabled{
                        display: none;
                    }
                }
            }

            .shopping-cart-button {
                width: 212px;

                @include sp {
                    width: 122px;
                }

                display: block;
                box-sizing: border-box;
                font-weight: bold;
                text-decoration: none;
                color: black;
                padding: 2px;
                background: linear-gradient(#f6f6f6, #d9d9d9);
                border: #8c7f74 solid 1px;
                border-radius: 2px;

                i {
                    color: #ba4a00;
                    padding-right: 5px;
                }
            }

            .avatar-button {
                width: 212px;

                @include sp {
                    width: 122px;
                }

                display: block;
                box-sizing: border-box;
                font-weight: bold;
                text-decoration: none;
                color: black;
                padding: 2px;
                background: linear-gradient(#f6f6f6, #d9d9d9);
                border: #8c7f74 solid 1px;
                border-radius: 2px;

                i {
                    color: #f38900;
                    padding-left: 2px;
                    padding-right: 3px;
                }
            }

        }

        // a.shopping-cart-button {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;
        //     align-items: center;
        //     text-decoration: none;
        //     color: white;
        //     border: 2px solid white;
        //     border-radius: 5px;
        //     padding: 5px 25px;
        //     @include sp {
        //         padding: 5px 14px;
        //     }


        //     font-size: 15px;
        //     i.fas {
        //         font-size: 2.2em;
        //     }
        // }
    }

    // バナー
    .banner {
        img {
            width: 100%;
            display: block;
        }
    }

    // パンくずリスト
    .breadcrumb-list {
        background-color: $black;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            li {
                text-align: right;

                a {
                    color: white;
                    text-decoration: none;
                }

                &+li::before {
                    content: '>';
                    color: white;
                    margin: 0 5px;
                }

            }


        }

    }


    // body-main
    .main-contents {
        background-color: rgb(254, 247, 233);

        h2 {
            position: relative;
            margin-top: 0;
            margin-bottom: 2em;
            padding-top: 2em;
            display: flex;
            justify-content: center;
            font-size: 2em;
            text-align: center;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                // 線の上下位置
                bottom: -15px;
                display: inline-block;
                // 線の長さ
                width: 60px;
                // 線の太さ
                height: 5px;
                -webkit-transform: translateX(-50%);
                // 位置調整
                transform: translateX(-50%);
                // 線の色
                background-color: black;
                // 線の丸み
                border-radius: 2px;
            }
        }

        div.no-item-message {
            p {
                margin: 0;
                padding: 0 110px 50px;

                @include sp {
                    padding: 0 20px 50px;
                }

                text-align: center;
                font-weight: bold;
                color: red;
                font-size: 20px;

                i.fas {
                    padding: 0 6px;
                }
            }
        }
    }

    // フッター
    footer {
        .footer-logo {
            text-align: center;
            font-size: 25px;
            background-color: $orange;
            color: white;
            padding: 20px 0;
        }

        .ads {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(190, 190, 190);

            a {
                display: block;
                box-sizing: border-box;
                width: 320px;
                height: 100px;
                border: 1px solid white;
                margin: 10px 0;
            }
        }
    }
}