$orange: rgb(237, 108, 0);
$black: rgb(70, 30, 30);
$btn-color: rgb(79, 42, 35);
$media-sp: 600px;
$media-pc: 950px;

@mixin sp {
    @media only screen and (max-width: $media-sp) {
        @content;
    }
}

@mixin pc {
    @media only screen and (min-width: $media-pc) {
        @content;
    }
}


img {
    max-width: 100%;
    display: block;
}

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}


// フォームのボタンのスタイル定義
@mixin form-button {
    display: block !important;
    box-sizing: border-box !important;
    padding: 10px !important;
    border-radius: 2px !important;
    cursor: pointer;
    box-shadow: 0 3px 3px gray;
}

@mixin form-normal-button {
    @include form-button;
    border: 1px solid rgb(160, 160, 160);
    color: black;
    background-color: white;
}

@mixin form-primary-button {
    @include form-button;
    border: none !important;
    color: white;
    background-color: rgb(58, 13, 164);
}

.button-field {
    input[type="button"], input[type="reset"], button[type="button"], button[type="reset"] {
        @include form-normal-button;
    }

    input[type="submit"], button[type="submit"] {
        @include form-primary-button;
    }
}


// ページ全体の共通のスタイル定義
div.container {
    // センタリング
    max-width: $media-pc;
    margin: 0 auto;

    // ヘッダー
    header {
        background-color: $orange;
        h1 {
            margin: 0;
            padding: 25px;

            @include sp{
                font-size: 18px;
                padding: 12px 0;
                padding-left: 7px;
                margin: 0 auto;
            }

            a{
                color: black;
                text-decoration: none;

                span {
                    color: white;
                    font-size: 120%;
                }
            }
            
        }
    }

    // バナー
    .banner{
        img{
            width: 100%;
            display: block;
        }
    }

    // パンくずリスト
    .breadcrumb-list{
        background-color: $black;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            li {
                text-align: right;
                a{
                    color: white;
                    text-decoration: none;
                }

                & + li::before{
                    content: '>';
                    color: white;
                    margin: 0 5px;
                }
                
            }

            
        }
        
    }


    // body-main
    .main-contents{
        background-color: rgb(254, 247, 233);

        h2{
            position: relative;
            margin-top: 0;
            margin-bottom: 2em;
            padding-top: 2em;
            display: flex;
            justify-content: center;
            font-size: 2em;
            text-align: center;

            &::before{
                content: '';
                position: absolute;
                left: 50%;
                // 線の上下位置
                bottom: -15px;
                display: inline-block;
                // 線の長さ
                width: 60px;
                // 線の太さ
                height: 5px;
                -webkit-transform: translateX(-50%);
                // 位置調整
                transform: translateX(-50%);
                // 線の色
                background-color: black;
                // 線の丸み
                border-radius: 2px;
            }
        }

        div.no-item-message{
            p {
                margin: 0;
                padding: 0 110px 50px;
                @include sp {
                    padding: 0 20px 50px;
                }
                text-align: center;
                font-weight: bold;
                color: red;
                font-size: 20px;
                i.fas{
                    padding: 0 6px;
                }
            }
        }
    }

    // フッター
    footer{
        .footer-logo {
            text-align: center;
            font-size: 25px;
            background-color: $orange;
            color: white;
            padding: 20px 0;
        }

        .ads {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            background-color: rgb(190, 190, 190);
        }
    }
}