@import "common.scss";

@mixin table-style {
    table {
        width: 100%;
        margin-bottom: 20px;
        border-spacing: 0;
        border-collapse: collapse;
        line-height: 1.5;
        tr{
            height: 60px;

            th {
                background-color: $gray;
                text-align: center;
                width: 40%;
            }

            td {
                padding: 12px;
                word-break: break-all;
            }
        }
    }

    table, th, td {
        border: 1px solid $border-color;
    }
}


// お問い合わせのテーブルスタイル
div.container {
    .main-contents{
        
        div.message{
            margin: 0 110px;
            @include sp {
                margin: 0 20px;
            }

            .order-number {
                background-color: white;
            }

            p {
                margin: 0;
                margin-bottom: 50px;
                i.fas{
                    padding: 0 6px;
                }
            }

            .button-field{
                padding-bottom: 50px;
                input[type="button"] {
                    margin: 0 auto;
                }
            }

            @include table-style;
            
        }

        div.contact-table{
            padding: 0 30px 50px;

            @include sp {
                padding: 0 0 50px;
            }

            form {
                background-color: white;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 5px;
                padding: 26px;
                


                label, input, textarea, button{
                    display: block;
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }

                input, textarea {
                    border: 1px solid $border-color;
                    border-radius: 2px;
                    padding: 10px;
                }

                .input-container{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .input-field{
                        margin-bottom: 20px;
                        flex-basis: 48%;

                        @include sp {
                            flex-basis: 100%;
                        }
    
                        input {
                            height: 3em;
                            width: 100%;
                        }
    
                        label {
                            color: black;
                            font-weight: bold;
                            margin-bottom: 7px;
                        }
    
                        small {
                            background-color: rgb(237, 0, 0);
                            border-radius: 4px;
                            color: white;
                            padding: 2px 6px;
                            font-weight: bold;
                            margin: 0 4px;
                        }
                    }
    
                    .text-field textarea {
                        height: 10em;
                        width: 100%;
                    }

                    .grow-field {
                        flex-basis: 100%;
                    }

                    .information {
                        text-align: center;
                        font-weight: bold;
                        color: red;
                    }
                }


                .button-field {
                    display: flex;
                    justify-content: center;
                    
                    input:first-child {
                        margin-right: 10px;
                    }

                    input:last-child {
                        margin-left: 10px;
                    }
                }

                @include table-style;
                
            }
        }
    }
}