@import "common.scss";

// お弁当のテーブルスタイル
div.container {
    .main-contents {

        div#order {
            h3 {
                margin: 0;
                margin-bottom: 20px;
            }
            form {
                background-color: white;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 5px;
                padding: 26px;
                margin: 26px;
                @include sp {
                    margin-left: 0;
                    margin-right: 0;
                }


                label, input, textarea, button{
                    display: block;
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }

                input, textarea {
                    border: 1px solid $border-color;
                    border-radius: 2px;
                    padding: 10px;
                }

                .message {
                    margin-bottom: 20px;
                    font-weight: bold;
                    text-align: center;
                    color: red;
                }

                .input-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .input-field{
                        margin-bottom: 20px;
                        flex-basis: 48%;

                        @include sp {
                            flex-basis: 100%;
                        }
    
                        input {
                            height: 3em;
                            width: 100%;
                        }
    
                        label {
                            color: black;
                            font-weight: bold;
                            margin-bottom: 7px;
                        }
    
                        small {
                            background-color: rgb(237, 0, 0);
                            border-radius: 4px;
                            color: white;
                            padding: 2px 6px;
                            font-weight: bold;
                            margin: 0 4px;
                        }
                    }

                    .grow-field {
                        flex-basis: 100%;
                    }

                    .button-field {
                        display: flex;
                        justify-content: center;
                        
                        input:first-child {
                            margin-right: 10px;
                        }
    
                        input:last-child {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        div#search{
            
            margin: 40px 0;

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                
                input, button{
                    padding: 10px !important;
                    margin: 0;
                }

                input {
                    width: 70%;
                }

                button {
                    width: auto;
                    height: auto;
                    font-size: 1.2em;
                }
            }
        }

        div.shopping-table {
            display: flex;
            justify-content: space-around;
            align-content: space-around;
            flex-wrap: wrap;

            div.item-cell {
                border: 1px solid rgb(160, 160, 160);
                background-color: white;
                width: 400px;
                margin-bottom: 80px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                div.item-header {
                    background-color: $btn-color;
                    color: white;
                    font-size: 26px;
                    margin: 40px 20px 15px;
                    padding: 10px;

                    h3 {
                        margin: 0;
                    }
                }

                div.item-body {
                    margin: 0 40px 40px;
                    color: $btn-color;

                    img {
                        height: 220px;
                        margin: 0 auto;
                    }

                    h4 {
                        margin-top: 5px;
                        margin-bottom: 0;
                        font-size: 24px;
                    }

                    hr {
                        margin: 5px 0;
                        border: 2px solid $btn-color;
                    }

                    form {
                        font-size: 20px;
                        letter-spacing: 0.3em;
                        font-size: 24px;

                        .tax-text {
                            font-size: 50%;
                            letter-spacing: normal;
                        }

                        select {
                            float: right;
                            cursor: pointer;
                        }

                        .menu-list {
                            margin: 10px 0;
                        }

                        .detail {
                            font-size: medium;
                            letter-spacing: normal;
                            margin: 10px 0;
                            height: 130px;
                        }

                        button {
                            width: 100%;
                            padding: 15px 0;
                            border: 2px solid $btn-color;
                            background-color: white;
                            color: $btn-color;
                            font-weight: bold;
                            cursor: pointer;

                            .cart-icon {
                                padding: 0 10px;
                            }

                            &:hover {
                                background-color: rgb(230, 230, 230);
                            }

                            &:disabled{
                                background-color: #ccc;
                                color: rgb(118, 118, 118, 0.3);
                                border: 2px solid rgba(118, 118, 118, 0.3);
                            }
                        }


                        

                    }
                }
            }
        }
    }
}