$orange: rgb(237, 108, 0);
$black: rgb(70, 30, 30);
$btn-color: rgb(79, 42, 35);
$media-sp: 600px;
$media-pc: 950px;

@mixin sp {
    @media only screen and (max-width: $media-sp) {
        @content;
    }
}

@mixin pc {
    @media only screen and (min-width: $media-pc) {
        @content;
    }
}


@mixin buttons {
    h3 {
        text-align: center;
        padding: 30px;
        margin: 0;
    }

    div.buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 30px;
    }
}

img {
    max-width: 100%;
    display: block;
}

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

a.btn-flat {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    display: flex;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    overflow: hidden;
    color: $btn-color;
    background: white;
    border: 2px solid $btn-color;
    height: 70px;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;



    span{
        // position: relative;
        i {
            position: absolute;
            right: 6px;
            top: 26px;
        }
    }

    &::before{
        position: absolute;
        top: 0;
        left: 30px;
        width: 150%;
        height: 500%;
        content: '';
        transition: all .5s ease-in-out;
        transform: translateX(-98%) translateY(-70%) rotate(135deg);
        background: $btn-color;
    }
}


div.container {
    // センタリング
    max-width: $media-pc;
    margin: 0 auto;

    header {
        background-color: $orange;
        h1 {
            margin: 0;
            padding: 25px;

            @include sp{
                font-size: 18px;
                padding: 12px 0;
                padding-left: 7px;
                margin: 0 auto;
            }


            a{
                color: black;
                text-decoration: none;

                span {
                    color: white;
                    font-size: 120%;
                }
            }
            
        }
    }

    .banner{
        img{
            width: 100%;
            display: block;
        }
    }

    .breadcrumb-list{
        background-color: $black;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            li {
                text-align: right;
                a{
                    color: white;
                    text-decoration: none;
                }

                & + li::before{
                    content: '>';
                    color: white;
                    margin: 0 5px;
                }
                
            }

            
        }
        
    }

    .search-service{
        background-color: rgb(254, 247, 233);

        h2{
            position: relative;
            margin-top: 0;
            margin-bottom: 2em;
            padding-top: 2em;
            display: flex;
            justify-content: center;
            font-size: 2em;
            text-align: center;

            &::before{
                content: '';
                position: absolute;
                left: 50%;
                // 線の上下位置
                bottom: -15px;
                display: inline-block;
                // 線の長さ
                width: 60px;
                // 線の太さ
                height: 5px;
                -webkit-transform: translateX(-50%);
                // 位置調整
                transform: translateX(-50%);
                // 線の色
                background-color: black;
                // 線の丸み
                border-radius: 2px;
            }
        }

        // トップページのボタンスタイル
        div.service-table{
            display: flex;
            padding-bottom: 100px;

            @include sp{
                flex-direction: column;
                padding-bottom: 0;
            }


            div.delivery-service{
                @include buttons();
                background-color: rgb(186, 169, 152);
            }

            div.other-service{
                @include buttons();
            }
        }

        // お弁当のテーブルスタイル
        div.shopping-table{
            display: flex;
            justify-content: space-around;
            align-content: space-around;
            flex-wrap: wrap;

            div.item-cell{
                border: 1px solid rgb(160, 160, 160);
                background-color: white;
                width: 400px;
                margin-bottom: 80px;

                div.item-header{
                    background-color: $btn-color;
                    color: white;
                    font-size: 26px;
                    margin: 40px 20px 15px;
                    padding: 10px;

                    h3{
                        margin: 0;
                    }
                }

                div.item-body{
                    margin: 0 40px 40px;
                    color: $btn-color;
                    h4 {
                        margin-top: 5px;
                        margin-bottom: 0;
                        font-size: 24px;
                    }
                    hr {
                        margin: 5px 0;
                        border: 2px solid $btn-color;
                    }

                    form {
                        font-size: 20px;
                        letter-spacing: 0.3em;
                        font-size: 24px;

                        .tax-text{
                            font-size: 50%;
                            letter-spacing: normal;
                        }

                        select {
                            float: right;
                            cursor: pointer;
                        }

                        .menu-list {
                            margin: 10px 0;
                        }

                        .detail {
                            font-size: medium;
                            letter-spacing: normal;
                            margin: 10px 0;
                            height: 6.5em;
                        }

                        button {
                            width: 100%;
                            padding: 15px 0;
                            border: 2px solid $btn-color;
                            background-color: white;
                            color: $btn-color;
                            font-weight: bold;
                            cursor: pointer;
                            .cart-icon {
                                padding: 0 10px;
                            }

                            &:hover{
                                background-color: rgb(230, 230, 230);
                            }
                        }

                    }
                }
            }
        }

        // お問い合わせのテーブルスタイル
        div.contact-table{
            padding: 0 30px 50px;
            @include sp {
                padding: 0 0 50px;
            }

            form {
                background-color: white;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 5px;
                padding: 26px;
                


                label, input, textarea, button{
                    display: block;
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }

                input, textarea {
                    border: 1px solid rgb(118,118,118);
                    border-radius: 2px;
                    padding: 10px;
                }

                .input-container{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .input-field{
                        margin-bottom: 20px;
                        flex-basis: 48%;

                        @include sp {
                            flex-basis: 100%;
                        }
    
                        input {
                            height: 3em;
                            width: 100%;
                        }
    
                        label {
                            color: black;
                            font-weight: bold;
                            margin-bottom: 7px;
                        }
    
                        small {
                            background-color: rgb(237, 0, 0);
                            border-radius: 4px;
                            color: white;
                            padding: 2px 6px;
                            font-weight: bold;
                            margin: 0 4px;
                        }
                    }
    
    
                    .text-field textarea {
                        height: 10em;
                        width: 100%;
                    }

                    .grow-field {
                        flex-basis: 100%;
                    }
                }


                .button-field {
                    display: flex;
                    justify-content: center;
                    
                    input {
                        height: auto;
                        padding: 10px 20px;
                        margin: 0 20px;
                        cursor: pointer;
                    }

                    input[type="reset"] {
                        border: 1px solid rgb(160, 160, 160);
                        color: black;
                        background-color: white;
                    }

                    input[type="submit"] {
                        border: none;
                        color: white;
                        background-color: rgb(51, 195, 240);
                    }
                }
            }
        }
    }
    
    
    footer{
        .footer-logo {
            text-align: center;
            font-size: 25px;
            background-color: $orange;
            color: white;
            padding: 20px 0;
        }

        .ads {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            background-color: rgb(190, 190, 190);
        }
    }
}
